/**
 * base.css: Base CSS for InvestigationClosure
 */
.rn_InvestigationClosure {

}

.rn_Label{
	width:100%;
	display:block;
}

.rn_SelectionInput fieldset{
	margin-bottom:-20px !important;
}

#why_fields textarea{
	height:55px !important;
}
